VITE_SUPABASE_URL=https://lstixauoxfhssrlkcsqm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzdGl4YXVveGZoc3NybGtjc3FtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MDA2MDcsImV4cCI6MjA5MDQ3NjYwN30.XUDmDPRlZ87ZwvxXlPILVMRY1BLng66qRAjjUSnVX1E